.additivesWindow {
  z-index: 10;
}
.window {
  padding: 2rem 3rem;
  max-height: 60rem;
  height: 100%;
  max-width: 108rem;
  padding-bottom: 0;
  width: 100%;
  color: #434343;
}
.productImage {
  height: 100%;
  background-position: center;
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.additiveTitle {

}
.additiveList {
  overflow-y: auto;
  max-height: 25rem;
  .item {
    cursor: pointer;
    background: #F7F7F7;
    border-radius: 4px;
    width: 10.5rem;
    min-height: 13.8rem;
    transition: .3s border;
    border: 1px solid transparent;
    max-width: 10.5rem;
    padding: 1.5rem 1.6rem;
    .imageWrapper {
      min-height: 7.3rem;
      min-width: 7.3rem;
    }
    .addedIconBlock {
      visibility: hidden;
      opacity: 0;
      right: .7rem;
      top: .7rem;
    }

    .img {
      min-height: 7.3rem;
      min-width: 7.3rem;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    p {
      font-size: 1.4rem;
    }
    b {
      margin-top: -3px;
      font-size: 1.6rem;
    }
  }
  .itemSelected {
    border: 1px solid #FB634D;
    .addedIconBlock {
      visibility: visible;
      opacity: 1;
    }
  }

}
.additiveList::-webkit-scrollbar {
  width: 4px;
}
.additiveList::-webkit-scrollbar-thumb {
  background: #c7c7c7;
}
.productAdditivesBar {
  height: 100%;
  padding: 0 2.5rem;
  width: 100%;
  .listItem {
    span {
      font-size: 2rem;
    }
    color: black
  }
  .weight {
    color: #C0C0C0;
    font-size: 1.4rem;
    text-wrap: nowrap;
  }
  .titleBlock {
    font-size: 2.4rem;
  }
  .description {
    min-height: 6rem;
    color: black;
    font-size: 1.6rem;
  }
  h4 {
    font-size: 2rem;
  }
}
.close {
  margin-right: -5px;
}
.supplementItem {
  p, .price {
    font-size: 1.6rem;
  }
  .price {
    color: #BCBCBC;
  }
  .checkbox{
    min-width: 1.8rem;
    min-height: 1.8rem;
    width: 1.8rem;
    border-radius: 3px;
    height: 1.8rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.08);

  }
  .checkboxSelected {
    background: #fb634d;
  }
}
.supplementsList {
  max-height: 20rem;
  overflow-y: auto;
  padding-right: .6rem;
}

.supplementsList::-webkit-scrollbar {
  width: 4px;
}
.supplementsList::-webkit-scrollbar-thumb {
  background: #e0e0e0;
}
.additivesContainer {
  padding-bottom: 2rem;
}
.additivesBtnWrapper {
  padding: 0 2.5rem;

}
.additivesBtn {
  width: 100%;
}
.additivesBarContainer {
  max-width: 42rem;
  width: 100%;
}
@media (max-width: 1100px) {
  .window {
    border-radius: unset;
    height: 100vh;
    width: 100vw;
    max-width: unset;
    max-height: unset;
  }
  .additivesContainer {
    gap: 10px;
    flex-direction: column;
  }
  .productImage {
    height: 20%;
    max-height: 40rem;
    min-height: 16rem;
    width: 100%;
  }
  .productAdditivesBar {
    max-width: unset;
    padding: 0;
  }
  .additivesBtnWrapper {
    position: fixed;
    width: 100%;
    left: 0;

    background: white;
    padding: 0 2rem 1.6rem !important;
    bottom: 0;
  }
  .additivesBarContainer {
    width: 100%;
    flex: 1;
    max-width: unset;
  }
  .additivesBtnWrapper {
    padding: 0;
  }
}