.cartBlockOpened {
  transform: unset !important;
}
.cartBlock {
  max-width: 42rem;
  transition: transform .3s;
  transform: translateX(100vw);
  max-height: 100vh;
  color: #494949;
  width: 100%;
  background: #FAFAFA;
  .top {
    margin-top: 1.8rem;
  }
  .content {
    overflow-y: auto;
    .listProducts {
      overflow-y: auto;
      max-height: 42vh;
    }
    .listProducts::-webkit-scrollbar {
      width: 4px;
    }
    .listProducts::-webkit-scrollbar-thumb {
      background: #c7c7c7;
    }
    .info {
      background: #F3F3F7;
      border-radius: 4px;
      padding: 1.3rem 1rem;
      p {
        max-width: 80%;
        font-size: 1.3rem;
        color: #9C9C9C;
        line-height: 100%;
      }
    }
    h2 {
      font-size: 2.4rem;
    }
    h3 {
      font-size: 2rem;
    }

  }
  .content::-webkit-scrollbar {
    display: none;
  }
  .bottom {
    position: sticky;
    bottom: 0;
    background: white;
    box-shadow: 0px -2px 16px 0px rgba(0, 0, 0, 0.10);
    padding: 3rem 4rem;
    b {
      font-size: 1.8rem;
    }
  }
  .delete {
    font-size: 1.6rem;
    font-weight: 700;
  }

}
.additivesWindowShadow {
  opacity: 0;
  visibility: hidden;
}
.additivesWindowOpened {
  .additivesWindowShadow {
    visibility: visible;
    opacity: 1;
  }
  .cartAdditivesBar {
    transform: unset;
  }
}

.cartAdditivesBar {
  z-index: 10;
  max-height: 38.4rem;
  height: 100%;
  transition: .3s transform;
  transform: translateY(100vh);
  .additivesList {
    overflow-y: auto;
    padding-right: 6px;
  }
  .additivesList::-webkit-scrollbar {
    width: 3px;
  }
  .additivesList::-webkit-scrollbar-thumb {
    background: #e7e7e7;
  }
  bottom: 0;
  border-radius: 20px 20px 0px 0px;
  h3 {
    font-size: 2.4rem;
  }
  .additiveItem {
    p {
      font-size: 1.4rem;
    }
    b {
      font-size: 1.6rem;
    }
    .count {
      font-size: 1.6rem;
      min-width: 2.2rem;
      text-align: center;
    }
    .add {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
}
.cartItem {
  border-radius: 4px;
  .image {
    min-width: 7.5rem;
    min-height: 7.5rem;
    max-width: 7.5rem;
    background-position: center;
    background-size: cover !important;
    max-height: 7.5rem;
    border-radius: 4px;
  }
  .error {
    font-size: 1.2rem;
    max-width: 14rem;
    line-height: 1;
  }

  .itemInfo {
    padding-bottom: 1rem;
    border-bottom: 1px solid #E2E2E9;
    b {
      font-size: 1.6rem;
    }

    p {
      font-size: 1.2rem;
    }

  }

  .itemBottom {
    padding-top: 1.5rem;
    .count {
      font-size: 1.6rem;
      min-width: 2rem;
      text-align: center;
      color: #8A8A8A;
    }
  }
  .price {
    font-size: 1.6rem;
  }
}
.emptyText {
  font-size: 1.6rem;
  margin-top: -3px;

}
.infoIcon {
  min-width: 1.8rem;
}
.cartItemDisabled {
  .image {
    filter: grayscale(100%);
  }

  .itemInfo {
    b {
      color: #A1A1A1;
    }
    p {
      color: #A1A1A1;
    }
  }
}
.souses, .bread {
  height: 10.9rem;
  border-radius: 4px;
  p {
    font-size: 1.6rem;
    color: black;
  }
}
.souses {
  max-width: 94px;
  width: 100%;
  .img {
    min-width: 5rem;
    min-height: 5rem;
    background-size: contain;
    background-position: center;
  }

}
.bread {
  img {
    height: 7rem;
    width: 8.6rem;
  }
  .title {
    color: #494949;
    font-size: 1.6rem;
  }
}
.widget {
  height: 5.6rem;
  width: 5.6rem;
  background: white;
  z-index: 4;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 12px rgba(56, 56, 56, 0.25));
  right: 5rem;
  bottom: 7rem;
  .count {
    min-width: 2.1rem;
    text-align: center;
    background: #fb634d;
    border-radius: 45%;
    right: 0;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    top: 0;
  }
}
@media (max-width: 620px) {
  .cartBlock {
    max-width: unset;
    width: 100vw;
  }
}
@media (max-width: 420px) {
  .widget {
    right: 3rem;
  }

}