.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 6;
  .logoText {
    p {
      font-size: 1.6rem;
    }

    .city {
      color: #FB634D;
      font-size: 1.6rem;
    }
    .geoPopup {
      border-radius: 6px;
      padding: 2rem 2.8rem;
      width: 20rem;
      left: -2rem;
      b, p {
        font-size: 1.6rem;
      }
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
      top: calc(100% + 1rem);
    }
    .selectCity {

      .item {
        cursor: pointer;

      }
      .checkedItem {
        p {
          font-weight: 700;
        }
      }
    }
    .yourCity {
      .btn {
        font-size: 1.6rem;
        padding: .4rem .4rem;
        min-width: 7.5rem;
      }
    }

  }

  nav {
    width: 66.1rem;

    .item {
      font-size: 1.4rem;

      &::after {
        visibility: hidden;
        opacity: 0;
        transition: .3s visibility, .3s opacity, .3s width;
        content: "";
        top: calc(100% + .3rem);
        height: 2px;
        width: 1px;
        position: absolute;
        background: black;
        left: 0;

      }
      .text {
        transition: .3s font-weight;
        min-width: calc(100% + 1rem);
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
          width: calc(100% + .5rem);
        }
        .text {
          font-weight: 700;
        }

      }
    }
  }

  .right {
    b {
      font-size: 1.6rem;
    }

    .profileBtn {
      transition: .2s color;
      path {
        transition: .2s fill;
      }
      svg {
        transition: .2s transform;
      }
      &:hover {
        color: #FB634D;
        svg {
          transform: scale(1.1);
        }
        path {
          fill: #FB634D;
        }

      }
    }

    .cartBtn {
      transition: .2s color;

      svg {
        path {
          transition: .2s fill, .2s stroke, .2s transform;
        }
      }

    }
    .cartBtnUnfilled {
      &:hover {
        color: #FB634D;
        svg {

          path:nth-child(1) {
            stroke: #FB634D;
          }
          path:nth-child(2) {
            stroke: #FB634D;
            transform: translateY(-3px);
          }
          path:nth-child(3), path:nth-child(4){
            stroke: #FB634D;
          }
        }
      }
    }
    .cartBtnFilled {
      svg {
        path:nth-child(1) {
          fill: black;
        }
        path:nth-child(3), path:nth-child(4){
          stroke: white;
        }
      }
      &:hover {
        color: #FB634D;
        svg {

          path:nth-child(1) {
            fill: #FB634D;
            stroke: #FB634D;
          }
          path:nth-child(2) {
            stroke: #FB634D;
            transform: translateY(-3px);
          }
        }
      }
    }
  }
}
.promo {
  background: #FAFAFA;
  .logos {
    .item {
      width: 14.5rem;
      border-radius: 4px;
      height: 10.5rem;
      background: white;
      transition: .3s background;
      svg {
        path {
          transition: .3s fill, .3s stroke;
        }
      }

    }
    .neededStroke {
      &:hover {
        background: #FB634D;
        svg {
          path {
            stroke: white;
          }
        }
      }
    }
    .neededFill {
      &:hover {
        background: #FB634D;
        svg {
          path {
            fill: white;
          }
        }
      }
    }
    .neededIfood {
      &:hover {
        background: #FB634D;
        svg {
          g {
            path {
              fill: white;
              stroke: white;
            }
          }

        }
      }
    }
    .neededGusto {
      &:hover {
        background: #FB634D;
        svg {
          g {
            path {
              fill: white;
            }
          }

        }
      }
    }

  }
  .promos {
    .container {
      .item {
        overflow: hidden;
        background: white;
        width: 32rem;
        min-height: 18.3rem;
        border-radius: 4px;
        border: 1px solid #FAFAFA;
        transition: .3s border;
        .image {
          height: 11rem;
          background-position: center;
        }
        .info {
          h3 {
            font-size: 2rem;
          }
          p {
            font-size: 1.4rem;
          }
          svg {
            transition: .3s transform;
            path {
              transition: .3s fill;
            }
          }
        }
        &:hover {
          border: 1px solid #FB634D;
          svg {
            transform: translateX(5px);
            path {
              fill: #FB634D;
            }
          }
        }

      }
    }
    .arrowWrapper {
      visibility: hidden;
      background: rebeccapurple;
      .arrow {
        height: 4rem;
        width: 4rem;
        background: white;
        border-radius: 50%;
      }
    }
  }

}
.main {

  .block {
    .restaurants {
      .orderTrigger {
        cursor: pointer;
        height: 4.8rem;
        border-radius: 4px;
        transition: .3s box-shadow;
        &:hover {
          box-shadow: 0px 0px 12px 0px rgba(56, 56, 56, 0.10);
        }
        background: linear-gradient(90deg, #F5F3F2 0.04%, #F5F3F2 48.98%, #F5F3F2 100%);
        .backgrounds {
          width: 55%;
          mix-blend-mode: darken;
        }
        .text {
          transform: rotate(-7.5deg);
          font-size: 1.6rem;
          font-style: italic;
          font-weight: 700;
          p:last-child {
            margin-left: 5rem;
            margin-top: -.5rem;
          }
        }
      }
      .btn {
        border-radius: 4px;
        height: 4.8rem;
        font-size: 1.4rem;

      }
      .search {
        height: 4.8rem;
        width: 37.5rem;
      }
    }
    .menuCategories {
      position: sticky;
      z-index: 3;
      padding: 1.5rem 0;
      background: white;
      top: 11rem;
      .shadowRight {
        width: 7.8rem;
        height: 3.4rem;
        background: linear-gradient(270deg, #FFF 0%, rgba(254, 254, 254, 0.62) 44.79%, rgba(252, 252, 252, 0.28) 79.17%, rgba(217, 217, 217, 0.00) 100%);
      }

      .item {
        margin: .5rem 0;
        padding: .7rem 2rem;
        white-space: nowrap;
        background: white;
        cursor: pointer;
        transition: .3s border, .3s box-shadow;
        &:hover{
          border: 1px solid transparent;
          box-shadow: 0px 1px 8px 0px rgba(56, 56, 56, 0.10);
        }
      }
    }
    .oftenOrdered {
      h3 {
        font-size: 2.4rem;
        font-weight: 400;
      }
      .item {

        border-radius: 4px;
        background: #F7F7F7;
        max-height: 9.8rem;
        height: 9.8rem;
        width: 24.5rem;
        overflow: hidden;
        color: #494949;
        box-shadow: 0px 4px 12px 0px rgba(56, 56, 56, 0.10);
        .bg {
          background-size: cover;
          background-position-y: center;
          background-position-x: -18rem;
        }
        .info {
          font-size: 1.5rem;
          width: 60%;
          padding: 1.8rem 0;
          align-self: center;

        }
        h4 {
          font-size: 1.6rem;
          line-height: 1;
        }
      }
    }
  }
}
.catalog {
  .categoryBlock {

  }
}
.footer {
  color: white;
  margin-top: 10rem;
  background: #232222;
  nav {
    border-bottom: 1px solid #303030;
    padding-bottom: 4rem;
    .navItem {
      font-size: 1.8rem;
      max-width: 18rem;
    }

    .navColumn:last-child {
      flex: 1;
    }
    .socials {
      .item {
        background: #3A3A3A;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
      }
    }

    gap: 13rem;
  }
  .copyright {
    color: #555;
    max-width: 73rem;
    font-size: 1.8rem;
  }
  .created {
    gap: 3px;
    p {
      color: #8F8F8F;
      font-size: 1.4rem;
    }
  }
  .logo {
    path {
      fill: white;
    }
  }

}