.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 6;
  .logoText {
    min-width: 25rem;
    p {
      font-size: 1.6rem;
    }

    .city {
      color: #FB634D;
      font-size: 1.6rem;
    }
    .geoPopup {
      border-radius: 6px;
      padding: 2rem 1.5rem;
      width: 20rem;
      left: -2rem;
      b, p {
        font-size: 1.6rem;
      }
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
      top: calc(100% + 1rem);
    }
    .selectCityItem {

    }
    .yourCity {
      .btn {
        font-size: 1.6rem;
        padding: .4rem .4rem;
        min-width: 7.5rem;
      }
    }

  }

  nav {
    width: 66.1rem;

    .item {
      font-size: 1.4rem;

      &::after {
        visibility: hidden;
        opacity: 0;
        transition: .3s visibility, .3s opacity, .3s width;
        content: "";
        top: calc(100% + .3rem);
        height: 2px;
        width: 1px;
        position: absolute;
        background: black;
        left: 0;

      }
      .text {
        transition: .3s font-weight;
        min-width: calc(100% + 1rem);
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
          width: calc(100% + .5rem);
        }
        .text {
          font-weight: 700;
        }

      }
    }
  }

  .right {
    b {
      font-size: 1.6rem;
    }

    .profileBtn {
      transition: .2s color;
      path {
        transition: .2s fill;
      }
      svg {
        transition: .2s transform;
      }
      &:hover {
        color: #FB634D;
        svg {
          transform: scale(1.1);
        }
        path {
          fill: #FB634D;
        }

      }
    }

    .cartBtn {
      transition: .2s color;

      svg {
        path {
          transition: .2s fill, .2s stroke, .2s transform;
        }
      }

    }
    .cartBtnUnfilled {
      &:hover {
        color: #FB634D;
        svg {

          path:nth-child(1) {
            stroke: #FB634D;
          }
          path:nth-child(2) {
            stroke: #FB634D;
            transform: translateY(-3px);
          }
          path:nth-child(3), path:nth-child(4){
            stroke: #FB634D;
          }
        }
      }
    }
    .cartBtnFilled {
      svg {
        path:nth-child(1) {
          fill: black;
        }
        path:nth-child(3), path:nth-child(4){
          stroke: white;
        }
      }
      &:hover {
        color: #FB634D;
        svg {

          path:nth-child(1) {
            fill: #FB634D;
            stroke: #FB634D;
          }
          path:nth-child(2) {
            stroke: #FB634D;
            transform: translateY(-3px);
          }
        }
      }
    }
  }
}
.promo {
  background: #FAFAFA;
  .logos {
    .item {
      width: 14.5rem;
      border-radius: 4px;
      height: 10.5rem;
      background: white;
      transition: .3s background;
      svg {
        path {
          transition: .3s fill, .3s stroke;
        }
      }

    }
    .neededStroke {
      &:hover {
        background: #FB634D;
        svg {
          path {
            stroke: white;
          }
        }
      }
    }
    .neededFill {
      &:hover {
        background: #FB634D;
        svg {
          path {
            fill: white;
          }
        }
      }
    }
    .neededIfood {
      &:hover {
        background: #FB634D;
        svg {
          g {
            path {
              fill: white;
              stroke: white;
            }
          }

        }
      }
    }
    .neededGusto {
      &:hover {
        background: #FB634D;
        svg {
          g {
            path {
              fill: white;
            }
          }

        }
      }
    }

  }
  .promos {
    .container {
      .item {
        overflow: hidden;
        background: white;
        width: 32rem;
        min-height: 18.3rem;
        border-radius: 4px;
        border: 1px solid #FAFAFA;
        transition: .3s border;
        .image {
          height: 11rem;
          background-position: center;
        }
        .info {
          h3 {
            font-size: 2rem;
          }
          p {
            font-size: 1.4rem;
          }
          svg {
            transition: .3s transform;
            path {
              transition: .3s fill;
            }
          }
        }
        &:hover {
          border: 1px solid #FB634D;
          svg {
            transform: translateX(5px);
            path {
              fill: #FB634D;
            }
          }
        }

      }
    }
    .arrowWrapper {
      visibility: hidden;
      background: rebeccapurple;
      .arrow {
        height: 4rem;
        width: 4rem;
        background: white;
        border-radius: 50%;
      }
    }
  }
}
.main {
  margin-top: 2rem;
}
.backButton {
  height: 4.5rem;
  padding: 1.5rem !important;
  font-size: 1.4rem !important;
  max-width: fit-content;
}
.restaurantsSection {
  .sideWrapper {
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: #c7c7c7;
    }
    width: 34rem;
    background: white;
    border-left: 2px solid #fafafa;
    border-top: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
    .itemWrapper {
      padding-top: .4rem;
      padding-left: .4rem;
      padding-bottom: .4rem;
      width: 100%;
      border-bottom: 2px solid #fafafa;
      cursor: pointer;
      .item {
        border-radius: 6px 0px 0px 6px;
        padding: 1.1rem 1.6rem;
        &:hover {
          background: #F3F3F7;
        }
        transition: .3s background;
        b {
          font-size: 1.6rem;
        }
        p {
          font-size: 1.2rem;
        }
        .bottomText {
          font-size: 1.4rem;
        }
      }
    }
  }
  .map {
    background: rgba(0, 128, 0, 0.3);
  }
  height: 80vh;
  border-radius: 6px;
  max-height: 576px;
}
