
.promo {
  background: #FAFAFA;

  .promos {
    .container {
      .item {
        overflow: hidden;
        background: white;
        width: 32rem;
        min-height: 18.3rem;
        border-radius: 4px;
        border: 1px solid #FAFAFA;
        transition: .3s border;
        .image {
          height: 11rem;
          background-position: center;
        }
        .info {
          h3 {
            font-size: 2rem;
          }
          p {
            font-size: 1.4rem;
          }
          svg {
            transition: .3s transform;
            path {
              transition: .3s fill;
            }
          }
        }
        &:hover {
          border: 1px solid #FB634D;
          svg {
            transform: translateX(5px);
            path {
              fill: #FB634D;
            }
          }
        }

      }
    }
    .arrowWrapper {
      visibility: hidden;
      background: rebeccapurple;
      .arrow {
        height: 4rem;
        width: 4rem;
        background: white;
        border-radius: 50%;
      }
    }
  }
}
.main {
  margin-top: 2rem;
}
.backButton {
  height: 4.5rem;
  padding: 1.5rem !important;
  font-size: 1.4rem !important;
  max-width: fit-content;
}
.restaurantsSection {
  .sideWrapper {
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: #c7c7c7;
    }
    min-width: 34rem;
    background: white;
    border-left: 2px solid #fafafa;
    border-top: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
    .itemWrapper {
      padding-top: .4rem;
      padding-left: .4rem;
      padding-bottom: .4rem;
      width: 100%;
      border-bottom: 2px solid #fafafa;
      cursor: pointer;
      .item {
        border-radius: 6px 0px 0px 6px;
        padding: 1.1rem 1.6rem;
        &:hover {
          background: #F3F3F7;
        }
        transition: .3s background;
        b {
          font-size: 1.6rem;
        }
        p {
          font-size: 1.2rem;
        }
        .bottomText {
          font-size: 1.4rem;
        }
      }
    }
  }
  .map {
  }
  height: 80vh;
  border-radius: 6px;
  max-height: 576px;
}
.sliderArrowWrapper {
  z-index: 6;
  > div {
    background: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}
.sliderArrowWrapperLeft {
  left: -1.5rem;
}
.sliderArrowWrapperRight {
  right: -1.5rem;
}
.choosenRestaruantBlock {
  color: #494949;

  .addressTitle {
    font-size: 2rem;
  }
  .addressAreaText {
    font-size: 1.4rem;
  }
  .gallery {
    overflow-x: hidden;
    .item {
      background-position: center;
      min-width: 18rem;
      min-height: 11rem;
      border-radius: 6px;
    }
  }
  .workTimeBlock {

  }
  .phoneLabel {
    font-size: 1.4rem;
    color: black;
  }
  .phone {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .workClocks {
    p {
      font-size: 1.2rem;
    }
    b {
      font-size: 1.6rem;
    }
  }
}
@media (max-width: 1100px) {
  .restaurantsMap {
    max-width: unset !important;
  }
  .restContainer {
    max-width: 100% !important;
    padding: unset;
  }
  .restaurantsSection {
    background: #FAFAFA;

    .sideWrapper {

      height: unset;
      max-height: unset;
      width: 100%;

    }
    .map {
      height: 48rem;
      flex: 1;
      flex: unset;
      width: 100%;
    }
    flex-direction: column-reverse;
    width: 100%;
  }
}