.profile {
  margin-top: 4rem;
  .form {
    max-width: 37.1rem;
  }
  .addAddressBtn {
    padding: 1rem 1.5rem;
  }
  .logoutBtn {
    font-size: 1.4rem;
    padding: .5rem 2.7rem;
  }
  .addressesBlock {
    max-width: 34rem;
    .addressItem {
      p {
        font-size: 1.4rem;
      }
      b {
        font-size: 1.8rem;
      }
    }
  }
  .addressesEmptyText {
    font-size: 1.4rem;
    max-width: 20rem;
  }
  .inputField {
    width: 34rem;
    input {
      font-size: 1.6rem;
    }
  }
}