.window {
  max-width: 108rem;
  width: 100%;
  max-height: 62.1rem;
  padding: 0;
}
.map {
  flex: 1;
  background: #868686;
  height: 100%;
}
.content {
  width: 42rem;
  height: 100%;
}
.addressesList {
  overflow-y: auto;
  padding-right: 3px;
}
.addressesList::-webkit-scrollbar {
  width: 4px;
}
.addressesList::-webkit-scrollbar-thumb {
  background: #c7c7c7;
}
.addressItem {
  padding: 1.5rem 2rem;
  .text {
    margin-top: -3px;
    h2 {
      font-size: 1.8rem;
    }
    .timeWork {
      font-size: 1.4rem;
      color: #ABADBA;
    }
  }

}

.partInputBlock {
  max-width: 17rem;
}