@font-face {
    font-family: "TTChocolates";
    src: url("../fonts/TTChocolatesRegular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "TTChocolates";
    src: url("../fonts/TTChocolatesBold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "TTChocolates";
    src: url("../fonts/TTChocolatesBoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

html {
    font-size: 10px;

}
* {
    font-family: 'TTChocolates', sans-serif !important;
}

main {
    margin-top: 11rem;
}
.wrapper {
    max-width: 142rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.sectionTitle {
    font-size: 3.6rem;
    font-weight: 700;
    color: #434343;
}
.App {
    padding-top: 11rem;
}
.closeIcon:hover {
    transform: scale(1.07);
    cursor: pointer;
}
.caption {

    font-size: 1.4rem;
}
.caption a {
    color: #fb634d;
}
.validationErr {
    color: #FF2000;
    font-size: 1.4rem;
}
.inputField {
    height: 5.6rem;
}