.section {
  background: #FAFAFA;
}
.logos {
  .item {
    cursor: pointer;
    width: 14.5rem;
    border-radius: 4px;
    height: 10.5rem;
    background: white;
    transition: .3s background;
    svg {
      path {
        transition: .3s fill, .3s stroke;
      }
    }

  }
  .neededStroke {
    &:hover {
      background: #FB634D;
      svg {
        path {
          stroke: white;
        }
      }
    }
  }
  .neededFill {
    &:hover {
      background: #FB634D;
      svg {
        path {
          fill: white;
        }
      }
    }
  }
  .neededIfood {
    &:hover {
      background: #FB634D;
      svg {
        g {
          path {
            fill: white;
            stroke: white;
          }
        }

      }
    }
  }
  .neededGusto {
    &:hover {
      background: #FB634D;
      svg {
        g {
          path {
            fill: white;
          }
        }

      }
    }
  }

}
@media (max-width: 1340px) {
  .logos {
    .item {
      cursor: pointer;
      width: 14.5rem;
      border-radius: 4px;
      height: 8.5rem;
      background: white;
      transition: .3s background;

      svg {
        max-height: 5rem;
        path {
          transition: .3s fill, .3s stroke;
        }
      }

    }
  }
}