.section {
  background: #FAFAFA;
}
.logos {
  .item {
    cursor: pointer;
    width: 14.5rem;
    border-radius: 4px;
    height: 10.5rem;
    background: white;
    transition: .3s background;
    svg {
      path {
        transition: .3s fill, .3s stroke;
      }
    }

  }
  .selectedNeededStroke {
    background: #FB634D;
    svg {
      path {
        stroke: white;
      }
    }
  }
  .selectedNeededFill {
    background: #FB634D;
    svg {
      path {
        fill: white;
      }
    }
  }

  .selectedNeededIFood {
    background: #FB634D;
    svg {
      g {
        path {
          fill: white;
          stroke: white;
        }
      }

    }
  }
  .selectedSport {

    background: #FB634D;
    svg {
      g {
        path:first-child {
          fill: white;
        }
        path:not(:first-child) {
          fill: #FB634D;
        }
      }

    }


  }
  .selectedNeededGusto {
    background: #FB634D;
    svg {
      g {
        path {
          fill: white;
        }
      }

    }
  }
  .neededStroke {
    &:hover {
      background: #FB634D;
      svg {
        path {
          stroke: white;
        }
      }
    }
  }
  .neededSport {
    &:hover {
      background: #FB634D;
      svg {
        g {
          path:first-child {
            fill: white;
          }
          path:not(:first-child) {
            fill: #FB634D;
          }
        }

      }
    }

  }
  .neededFill {
    &:hover {
      background: #FB634D;
      svg {
        path {
          fill: white;
        }
      }
    }
  }

  .neededIfood {
    &:hover {
      background: #FB634D;
      svg {
        g {
          path {
            fill: white;
            stroke: white;
          }
        }

      }
    }
  }
  .neededGusto {
    &:hover {
      background: #FB634D;
      svg {
        g {
          path {
            fill: white;
          }
        }

      }
    }
  }

}
@media (max-width: 1340px) {
  .logos {
    .item {
      width: 14.5rem;
      height: 8.5rem;
      svg {
        max-height: 5rem;
      }

    }
  }
}
@media (max-width: 480px) {
  .section {
    padding: 1.5rem 0;
  }
  .logos {

    .item {
      cursor: pointer;
      width: 9rem;
      height: 7rem;
      svg {
        max-width: 6.5rem;
      }

    }
  }
}