.button {
  border-radius: 4px;
  color: white;
  background: transparent;
  font-weight: 700;
  transition: .3s filter;
  cursor: pointer;
  font-size: 2rem;
  color: #c3c3c3;
  border: 1px solid #c3c3c3;

  &:hover {
    filter: brightness(95%);
  }
  &:disabled {
    background: #E2E2E9;;
    color: #ABADBA;
  }
}